@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

.bginput {
  @apply bg-white;
}

.bg_generate {
  background-color: #000000;
}

.bg_body {
  background-color: #3f2518;
}

.body_txt {
  color: #f0b192;
}

/* Custom styles for the range input */
input[type="range"]::-webkit-slider-runnable-track {
  height: 0.5rem; /* Tailwind height 2 */
  background: rgba(
    14,
    165,
    233,
    0.5
  ); /* Tailwind bg-sky-500 with 50% opacity */
  border-radius: 0.5rem; /* Tailwind rounded-lg */
}

input[type="range"]::-moz-range-track {
  height: 0.5rem;
  background: rgba(
    14,
    165,
    233,
    0.5
  ); /* Tailwind bg-sky-500 with 50% opacity */
  border-radius: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
  width: 1rem; /* Tailwind width 4 */
  height: 1rem; /* Tailwind height 4 */
  background: rgba(
    14,
    165,
    233,
    0.5
  ); /* Tailwind bg-sky-500 with 50% opacity */
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.25rem; /* Adjust based on thumb size */
}

input[type="range"]::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background: rgba(
    14,
    165,
    233,
    0.5
  ); /* Tailwind bg-sky-500 with 50% opacity */
  border-radius: 50%;
  cursor: pointer;
  border: none; /* Remove default border */
}

/* Tailwind Styles */

/* .app {
  @apply relative z-10 flex justify-center items-center flex-col  sm:px-16 px-6;
} */

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-black transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
}

.outline_btn {
  @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.head_text_design {
  @apply mt-5 text-2xl font-extrabold leading-[1.15] text-black sm:text-2xl;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-lg text-black sm:text-xl max-w-2xl;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Feed Component */
.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[80px] mt-2 p-3 text-sm text-gray-300 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-4 p-3 text-sm text-black outline-0;
}

/* Nav Component */
.logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-lg text-black tracking-wide;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm font-inter text-black hover:text-gray-500 font-medium;
}

/* PromptCard Component */
.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

/* Dark mode styles */
.dark body {
  @apply bg-gray-700 text-white; /* Lighten the background */
}

.dark .prompt_card {
  @apply bg-gray-600 border-gray-500; /* Lighten the background */
}

.dark .navlinks:hover {
  @apply text-white bg-gray-500; /* Lighten the hover background */
}

.dark .navbutton:hover {
  @apply bg-gray-500 text-white; /* Lighten the hover background */
}

/* Add more dark mode styles as needed */
